<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p><!-- how to edit title value?-->
    <hr>
    <p>some introduction about BLP</p><br>
    <a href="https://en.wikipedia.org/wiki/Bell%E2%80%93LaPadula_model">wikipedia link</a>

  </body>
</html>
